<% @habits.each do |habit| %>
	<div class="habit <%= habit.kind %>-habit mar-tb-10">
		<div class="pure-g">

			<div class="pure-u-1-2">
				<div class="mar-10">
					<p><%= link_to habit.title, habit, class: 'link' %></p>
				</div>
			</div>

			<div class="pure-u-1-2">
				<div class="mar-10 center">
					<%= link_to 'Edit', habit, class: 'pure-button edit-habit-link', data: {id: habit.id} %>
					<%= link_to 'Destroy', habit, method: :delete, class: 'pure-button' %>
				</div>
			</div>

		</div>
	</div>
<% end %>

<%= render 'edit' %>
