<div id="new-habits">
	<div class="pure-g">

		<div class="pure-u-1-2">
			<div class="mar-10 center">
				<%= link_to "Add good habit", nil, class: 'pure-button good-button' %>
			</div>
		</div>

		<div class="pure-u-1-2">
			<div class="mar-10 center">
				<%= link_to "Add bad habit", nil, class: 'pure-button bad-button' %>
			</div>
		</div>

	</div>
</div>

<div id="habits">
	<%= render @habits %>
</div>

<div class="pure-g">
	<div class="pure-u-1 right">
		<div id="edit-habits-link">
			<%= link_to 'Edit your habit list', edit_habits_path %>
		</div>
	</div>
</div>

<%= render 'new' %>
