<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
  <title>Habits Tracker</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="pure-g header-container">
      <div class="pure-u-1 container header">
        <h1 class="app-title"><%= link_to "Habit<span class='red'>Track</span>".html_safe, root_path  %></h3>
        <div class="header-menu">
          <i id='menu' class='icon-cog'></i>
        </div>
      </div>
  </div>

  <div class="container">
		<%= yield %>
	</div>

<div>
  <% flash.each do |name, msg| -%>
    <%= content_tag :div, msg, class: name %>
  <% end -%>
</div>
</body>
</html>
